


.custom-grid {
   background-color: blue;
}


/* EGV 15May2017 Inicio */
.row {
    margin-top:10px;
    margin-bottom:10px;
}

.botonera{
    margin-right:0px;
    margin-left:0px;
    background-color:#f5f5f5;
    margin-bottom:0px;
    margin-top:0px;
    padding-bottom:10px;
    padding-top:10px;
}

.provider-info{
    background-color: cornsilk;
    border-width:medium;
    position:absolute;
    z-index:10;
    width:540px;
    -webkit-transition: left 12s; 
}

.provider-info-arrow{
    border-right:solid;
    border-right-width:thin;
}

.search-item-small{
    font-size:0.75em;
}

.search-item-small div p{
    margin-top:0px;
    margin-bottom:0px;
    padding-bottom:0px;
    padding-top:0px;
}
/* EGV 15May2017 Fin */

