<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="INBOUND_PATH" value="C:\Temp\InterAssist\INBOUND\"/>
    <add key="OUTBOUND_PATH" value="C:\Temp\InterAssist\OUTBOUND\"/>
    <add key="PREBOUND_PATH" value="C:\Temp\InterAssist\PREBOUND\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DEFAULT" connectionString="Data Source=LOCALHOST;User Id=iassist;Password=inter123;" providerName="ORACLE" />
  </connectionStrings>
</configuration>