<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
      <globalization culture="es-AR" uiCulture="es-AR" />
      <compilation debug="true" targetFramework="4.0" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    </system.web>
  <connectionStrings>
    <add name="DEFAULT" connectionString="Data Source=localhost;User Id=iassist;Password=inter123;" providerName="ORACLE" />
  </connectionStrings>
    <appSettings> 
      <add key="ApplicationVersion" value="Desarrollo" />
    </appSettings>
</configuration>
